.randomText {
  background-color: var(--color-info);
  padding: 10px;
  display: flex;
  color: var(--primary-color-white);
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
}

.randomFactContainer {
  margin-top: 10px;
}
